<!DOCTYPE html>
<html lang="de">

    <head>
        <title>Bibliothek des Heinrich Bernhard Schrader zu Schliestedt</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/affix.css">
        <link rel="stylesheet" href="assets/css/proprietary.css">
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/proprietary.js"></script>
        <script src="assets/js/chart.js"></script>
    </head>

    <body onload="javascript:x = getNavBarHeight();scrollNav(x);">

        <div class="container-fluid" style="background-color:#FFFFFF">
          <h1>Bibliothek des Heinrich Bernhard Schrader zu Schliestedt (1775)</h1>
            <p>Abstract</p>
            <div style="float:left;margin-right:20px">
            <p>Altkatalog: HAB, M: Bc 1982 <a href="http://diglib.hab.de/drucke/bc-sbd-10-3s/start.htm?image=" target="_blank">Digitalisat</a><br />
            <span id="switchLink"><a href="javascript:switchToOriginal()">Anzeige in Vorlageform</a></span></p>
            </div>

            <div class="dropdown" style="float:left">
                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Download<span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">Datenexport</li> 
                    <li><a href="schrader.csv">CSV</a></li>
                    <li><a href="schrader.xml">XML</a></li>
                    <li><a href="schrader-tei.xml">TEI</a></li>
                    <li><a href="schrader.rdf">RDF/XML</a></li>
                    <li><a href="schrader.ttl">Turtle</a></li>
                    <li><a href="schrader-SOLR.xml">Solr XML</a></li>
                    <li class="dropdown-header">Geodaten</li>
                    <li><a href="printingPlaces.csv">CSV</a></li>
                    <li><a href="printingPlaces.kml">KML</a></li>
                    <li class="dropdown-header">Komplette Website</li>
                    <li><a href="schrader.zip">ZIP</a></li>
                </ul>
            </div> 
        </div>

        <nav class="navbar navbar-default" data-spy="affix" data-offset-top="197">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="schrader-histSubject.html">Rubriken<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="schrader-histSubject.html">Seitenanfang</a></li>
                        <li><a href="schrader-histSubject.html#LibriTheologiciInFolio">Libri Theologici In Folio (1)</a></li>
                        <li><a href="schrader-histSubject.html#ohneKategorie">ohne Kategorie (4)</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="schrader-persName.html">Personen<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="schrader-persName.html">Seitenanfang</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="schrader-year.html">Datierung<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="schrader-year.html">Seitenanfang</a></li>
                        <li><a href="schrader-year.html#1540–1550">1540–1550 (1)</a></li>
                        <li><a href="schrader-year.html#1550–1560">1550–1560 (1)</a></li>
                        <li><a href="schrader-year.html#1580–1590">1580–1590 (1)</a></li>
                        <li><a href="schrader-year.html#1600–1610">1600–1610 (1)</a></li>
                        <li><a href="schrader-year.html#ohneJahr">ohne Jahr (1)</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="schrader-placeName.html">Orte<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="schrader-placeName.html">Seitenanfang</a></li>
                        <li><a href="schrader-placeName.html#Antwerpen">Antwerpen (1)</a></li>
                        <li><a href="schrader-placeName.html#Basel">Basel (2)</a></li>
                        <li><a href="schrader-placeName.html#Rom">Rom (1)</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="schrader-subjects.html">Inhalte<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="schrader-subjects.html">Seitenanfang</a></li>
                        <li><a href="schrader-subjects.html#Altertumskunde">Altertumskunde (2)</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="schrader-genres.html">Gattungen<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="schrader-genres.html">Seitenanfang</a></li>
                        <li><a href="schrader-genres.html#Bibel">Bibel (3)</a></li>
                        <li><a href="schrader-genres.html#Rede">Rede (1)</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="schrader-languages.html">Sprachen<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="schrader-languages.html">Seitenanfang</a></li>
                        <li><a href="schrader-languages.html#Aramaeisch">Aramäisch (1)</a></li>
                        <li><a href="schrader-languages.html#Altgriechisch">Altgriechisch (2)</a></li>
                        <li><a href="schrader-languages.html#Hebraeisch">Hebräisch (1)</a></li>
                        <li><a href="schrader-languages.html#Latein">Latein (2)</a></li>
                        <li><a href="schrader-languages.html#Syrisch">Syrisch (1)</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="schrader-publishers.html">Drucker/Verleger<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="schrader-publishers.html">Seitenanfang</a></li>
                        <li><a href="schrader-publishers.html#Episcopius,Nicolaus">Episcopius, Nicolaus (1)</a></li>
                        <li><a href="schrader-publishers.html#FrancescoZanetti">Francesco Zanetti (1)</a></li>
                        <li><a href="schrader-publishers.html#Froben,Hieronymus">Froben, Hieronymus (1)</a></li>
                        <li><a href="schrader-publishers.html#Herwagen,Johannesd.ae.">Herwagen, Johannes d.Ä. (1)</a></li>
                        <li><a href="schrader-publishers.html#Montanus">Montanus (1)</a></li>
                        <li><a href="schrader-publishers.html#Plantin,Christophe">Plantin, Christophe (1)</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="padding-right:15px">
                <li class="dropdown">
	                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-picture"></span> Visualisierung<span class="caret"></span></a>
	                <ul class="dropdown-menu">
		                <li><a href="schrader-wordCloud.html" title="Wortwolken">Word Clouds</a></li>
		                <li><a href="schrader-doughnut.html" title="Kreisdiagramme">Kreisdiagramme</a></li>
	                </ul>
                </li>
            </ul>
        </nav>

        <div class="container" style="min-height:600px;">
			
			<div class="row">
				<div class="buttonsTop">
					
				<button type="button" class="btn btn-default" onclick="javascript:replaceChart(histSubject)">Rubriken</button>
				<button type="button" class="btn btn-default" onclick="javascript:replaceChart(placeName)">Orte</button>
				<button type="button" class="btn btn-default" onclick="javascript:replaceChart(subjects)">Inhalte</button>
				<button type="button" class="btn btn-default" onclick="javascript:replaceChart(genres)">Gattungen</button>
				<button type="button" class="btn btn-default" onclick="javascript:replaceChart(format)">Formate</button>
				<button type="button" class="btn btn-default" onclick="javascript:replaceChart(mediaType)">Materialarten</button>
				<button type="button" class="btn btn-default active" onclick="javascript:replaceChart(languages)">Sprachen</button>
				</div>
			</div>
			<div class="row" style="margin-top:2em;">
				<div class="col-sm-6">
					<canvas id="myDoughnutChart" width="400" height="400"></canvas>
				</div>
				<div class="col-sm-6">
					<div id="chart-legend" class="chart-legend"></div>
					<div class="chart-numbers">Gesamtzahl: 5<br />B&auml;nde: 12</div>
				</div>
			</div>
			<script>
				var histSubject = '[{\"value\":1,\"color\":\"#035151\",\"label\":\"Libri Theologici In Folio\"}]';
				var placeName = '[{\"value\":2,\"color\":\"#035151\",\"label\":\"Basel\"},{\"value\":1,\"color\":\"#a08246\",\"label\":\"Antwerpen\"},{\"value\":1,\"color\":\"#66CDAA\",\"label\":\"Rom\"}]';
				var subjects = '[{\"value\":2,\"color\":\"#035151\",\"label\":\"Altertumskunde\"}]';
				var genres = '[{\"value\":3,\"color\":\"#035151\",\"label\":\"Bibel\"},{\"value\":1,\"color\":\"#a08246\",\"label\":\"Rede\"}]';
				var format = '[{\"value\":4,\"color\":\"#035151\",\"label\":\"2\\u00b0\"},{\"value\":1,\"color\":\"#a08246\",\"label\":\"ohne Angabe\"}]';
				var mediaType = '[]';
				var languages = '[{\"value\":2,\"color\":\"#035151\",\"label\":\"Altgriechisch\"},{\"value\":2,\"color\":\"#a08246\",\"label\":\"Latein\"},{\"value\":1,\"color\":\"#66CDAA\",\"label\":\"Aram\\u00e4isch\"},{\"value\":1,\"color\":\"#00008B\",\"label\":\"Hebr\\u00e4isch\"},{\"value\":1,\"color\":\"#DB7093\",\"label\":\"Syrisch\"}]';

				var optionsDoughnut = {
					segmentShowStroke: false,
					animateRotate: true,
					animateScale: false,
					tooltipTemplate: "<%= label %>: <%= value %>",
					legendTemplate: "<ul class=\"chart-legend\"><% for (var i=0; i<data.length; i++){%><li><span style=\"background-color:<%=data[i].color%>\"></span><%if(data[i].label){%><%=data[i].label%><%}%></li><%}%></ul>"
				}
		
				var data = JSON.parse(languages);

				var ctx = document.getElementById("myDoughnutChart").getContext("2d");
				var myNewChart = new Chart(ctx).Doughnut(data, optionsDoughnut);
				document.getElementById("chart-legend").innerHTML = myNewChart.generateLegend();
			</script>

        </div>

        <footer class="container-fluid">
            <p><a href="../index.php" style="color:white">Start</a>&nbsp;&nbsp;<a href="http://www.hab.de/de/home/impressum.html" style="color:white" target="_blank">Impressum</a></p>
            <p style="color:white; text-align:right;">Stand: 05.12.2019</p>
        </footer>

    </body>

</html>
