<?php

$impressum = ''; // Link zum Impressum des Webangebots
$userGeoNames = ''; // Username bei www.geonames.org, der für den Download von Geodaten verwendet werden soll
$userAgentHTTP = ''; // Name der ausführenden Person in beliebiger Form

?>
